@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #262626;
    text-align: center;
    font-size: 30px;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 30px 0px;
}

.price-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.price-box {
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.price-box:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transform: skewY(-3deg) scale(1.5);
}

.price-box:hover {
    transform: scale(1.05);
}

.price-box:nth-child(2) .title .fa {
    transform: rotate(-40deg);
}

.price-box:nth-child(1),
.price-box:nth-child(1) .title .fas {
    background: linear-gradient(-45deg, #f403d1, #64b5f6)
}

.price-box:nth-child(2),
.price-box:nth-child(2) .title .fas {
    background: linear-gradient(-45deg, #ffec61, #f321d7)
}

.price-box:nth-child(3),
.price-box:nth-child(3) .title .fas {
    background: linear-gradient(-45deg, #24ff72, #9a4eff)
}

.price-box a {
    position: relative;
    z-index: 2;
    background: #ffffff;
    color: #262626;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 0.8em;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.title .fas,
.title .fa {
    color: #ffffff;
    font-size: 1.5em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    color: #ffffff;
    font-size: 1.5em;
}

.price {
    position: relative;
    z-index: 2;
}

.price h4 {
    padding: 20px 0;
    color: #ffffff;
    font-size: 60px;
}

.option {
    position: relative;
    z-index: 2;
}

.option ul li {
    margin: 0 0 10px;
    list-style: none;
    color: #ffffff;
    font-size: 1em;
}

@media (max-width: 750px) {
    .price-table {
        grid-auto-columns: 1fr;
    }
}